
@{
    ViewBag.Title = "ThankYou";
}

<div class="text-center mt-5">
    <h2>Thank You!</h2>
    <p>Your reservation has been received. We look forward to serving you soon.</p>
    <a href="@Url.Action("Reservation", "Home")" class="btn btn-primary mt-3">Back to Home</a>
</div>


